openapi: 3.1.0
info:
  title: Sort example
  version: '1.0'
servers:
  - url: 'http://localhost:3000'
paths:
  /v1/test:
    get:
      responses:
        '200':
          description: OK
components:
  schemas:
    User:
      type: object
      properties:
        name:
          type: string
        alias:
          type:
            - string
            - 'null'
      required:
        - name
        - alias
      additionalProperties: false
